@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Domagoj Licitar<br />
    Knežija 10000 Zagreb<br />
    <abbr title="Mobile">M:</abbr>
    +385 99 417 5679
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:licitar.domagoj@gmail.com">licitar.domagoj@gmail.com</a><br />
</address>